# Mina version
MINA_VERSION="3.0.1-4e62fc2-focal-mainnet"

# Block producer private key password
MINA_PASS=""

# Block producer public key
MINA_PUBLIC_KEY=""

# Coinbase reciever public key
CB_RECIEVER=""

# Block producer wallet name
WALLET_NAME="my-wallet"
