# Mina version
MINA_VERSION="3.1.0-ae112d3-focal-mainnet"

# Block producer private key password
MINA_PASS=""

# Block producer public key
MINA_PUBLIC_KEY=""

# Coinbase reciever public key
CB_RECIEVER=""

# Block producer wallet name
WALLET_NAME="my-wallet"

#Peer list url
PEER_LIST_URL="https://bootnodes.minaprotocol.com/networks/mainnet.txt"
